[submodule "Empirical"]
	path = Empirical
	url = https://github.com/devosoft/Empirical
[submodule "emsdk"]
	path = emsdk
	url = https://github.com/emscripten-core/emsdk
[submodule "signalgp-lite"]
	path = signalgp-lite
	url = https://github.com/amlalejini/signalgp-lite
