.DS_Store
StatsConfig.cfg
SymSettings.cfg
project_name
source/.DS_Store
web/symbulation.wasm
web/symbulation.js
symbulation*
symbulation.test
*~
*.data
*.dat
*.Rproj
.Rhistory
.Rproj.user
*.gcno
*.gcda
*.vscode
