# Timestamp: 2026-07-13 14:53:46 
# Make: health mutualist 

### MAIN ###
set SEED 10                                          #What value should the random seed be? ----- int (<=0 is random)
set DATA_INT 200                                     #How frequently, in updates, should data print? ----- int
set SYNERGY 4                                        #Amount symbiont's returned resources should be multiplied by ----- float
set VERTICAL_TRANSMISSION 1                          #Probability of symbiont vertically transmitting when host reproduces ----- float [0, 1]
set START_MOI 1                                      #Ratio of symbionts to hosts that experiment should start with ----- int
set UPDATES 400000                                   #Number of updates to run before quitting ----- int
set HOST_REPRO_RES 256                               #How many resources required for host reproduction ----- int
set SYM_HORIZ_TRANS_RES 128                          #How many resources required for symbiont non-lytic horizontal transmission ----- int
set OUSTING 1                                        #Should ousting (incoming symbiont kills and replaces existing symbiont) be turned on? ----- int (1 : True, 0 : False)
set FILE_PATH Data                                   #Output file path ----- string (path)
set FILE_NAME _data                                  #Root output file name ----- string

### MUTATION ###
set MUTATION_SIZE 0                                  #Standard deviation of the distribution to mutate by. (only applies to interaction value only) ----- float

### SGP ###
set CYCLES_PER_UPDATE 16                             #Number of CPU cycles that organisms run every update ----- int (should be a power of 2)
set FIND_NEIGHBOR_HOST_ATTEMPTS 5                    #How many times to attempt finding a neighboring host for symbiont to horizontally transmit into ----- int
set HOST_MIN_CYCLES_BEFORE_REPRO 0                   #Number of CPU cycles organisms must wait between reproductions ----- int
set SYM_MIN_CYCLES_BEFORE_REPRO 0                    #Number of CPU cycles organisms must wait between reproductions ----- int
set TASK_PROFILE_MODE self-all                       #What should we use for task profiles for host-symbiont compatibility, preferential ousting, etc.? ----- string (Options : parent-all, self-all, self-first, parent-first. 'all' means all tasks, 'first' means only first task performed)
set TASK_PROFILE_COMPATIBILITY_MODE task-any-match   #How is compatibility determined for task profiles? ----- string (Options: always, task-any-match, task-perfect-match)
#set #FUTURE_FEATURE HOST_SYM_COMPATIBILITY_MODE task-stronger-match   #How is compatibility determined for hosts/symbiont for transmission? ----- string (Options: always, task-any-match, task-stronger-match)
set HORIZONTAL_TRANSMISSION_COMPATIBILITY_MODE task-profile-strictly-stronger-match   #How is compatibility determined for horizontal transmission? ----- string (TASK_PROFILE_COMPATIBILITY_MODE must be set appropriately)(Options: always, task-profile-compatible, task-profile-strictly-stronger-match, task-profile-stronger-or-equal-match)

### SGP_MUTATION ###
set SGP_MUT_PER_BIT_RATE 0.005                       #Per-bit mutation rate for sgp programs ----- float

### STRESS ###
set STRESS_TYPE mutualist                            #What kind of stress symbionts should be incorporated in stressful environments? ----- string (Options: 'mutualist', 'parasite', 'neutral')
set MUTUALIST_DEATH_CHANCE 0                         #What death chance does a mutualist confer? ----- float [0, 1]
set BASE_DEATH_CHANCE 0.75                           #What death chance does a host have in the absence of symbionts? ----- float [0, 1]
set PARASITE_NUM_OFFSPRING_ON_STRESS_INTERACTION 0   #Number of offspring stress parasite can produce when host dies during stress event ----- int

### HEALTH ###
set ENABLE_HEALTH 1                                  #Health interactions enabled? ----- int
set HEALTH_TYPE mutualist                            #What kind of health symbionts are used? ----- string (Options: 'parasite', 'mutualist')
set MUTUALIST_CYCLE_GAIN_PROP 0.75                   #Proportion of cycles gained when host has health mutualist ----- float (1.0 = gain additional 100% of base cycles)
set MUTUALIST_CYCLE_DONATE_MULTIPLIER 4              #Multiply cycles donated by symbiont by this value ----- float
set PARASITE_CYCLE_LOSS_PROP 0.75                    #Proportion of cycles lost when host has health parasite ----- float [0, 1]
set PARASITE_CYCLE_STEAL_MULTIPLIER 4                #Parasite gained cycles = (host cycles * parasite cycle loss prop) * multiplier ----- float
set HEALTH_INTERACTION_CHANCE 1                      #Probability of host-symbiont health interaction each update ----- float [0, 1]

### TASK_ENVIRONMENT ###
set TASK_ENV_CFG_PATH environment.json               #Json file that provides environment configuration ----- string (filename.json)
set TASK_IO_BANK_SIZE 10000                          #How many possible task input/output combinations to pre-generate? ----- int
set HOST_ONLY_FIRST_TASK_CREDIT 1                    #Only give host credit for one task (whatever they do first)? ----- int (1 : True, 0 : False)
set SYM_ONLY_FIRST_TASK_CREDIT 1                     #Only give sym credit for one task (whatever they do first)? ----- int (1 : True, 0 : False)

### DATA ###
set PRINT_INTERVAL 100                               #How often to print run status ----- int

