$mainGrey: #e9ecef;
$mainBlack: #212529;
.test{
  color: blue;
}
.fade-out {
  animation: fadeOut 0.075s forwards;
}
@keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}
#openBtnTrigger{
  position: fixed;
  left: 16px;
  bottom: 16px;
  z-index: 0;
  background-color: $mainGrey;
  height: 64px;
  width: 64px;
  border-radius: 50%;

  &:hover{
    #openBtn{
      background-color: darken($mainGrey, 10%);
      transform: scale(1.1);
    }
  }
}
#openBtn{
  position: fixed;
  display: grid;
  place-items: center;
  left: 16px;
  bottom: 16px;
  z-index: 9999;
  background-color: $mainGrey;
  height: 64px;
  width: 64px;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.2s ease-out, transform 0.2s ease-out; // Moved here
}